@import "./root";
@import "./reset";
@import "./element-plus";
@import "./layout";
@import "./transition";
@import "./dark";
/* 灰色模式 */
.html-grey {
  filter: grayscale(100%);
}

/* 色弱模式 */
.html-weakness {
  filter: invert(80%);
}
.flex {
  display: flex;
}
.ac {
  align-items: center;
}
.jc{
  justify-content: center;
}
.sb{
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.pd-10 {
  padding: 10px;
}
.pd-20 {
  padding: 20px;
}
.flex-box {
  display: flex;
  align-items: center;
}
.border-table {
  border: var(--el-table-border)!important
}
.mr-20 {
  margin-right: 20px;
}
.whitebg{
  background-color: $white;
}
.action {
 .el-link{
  &:not(:last-child) {
    margin-right: 10px;
  }
 }
}
.search-container {
  padding: 18px 0 0 10px;
  margin-bottom: 10px;
  background-color: var(--el-bg-color-overlay);
  border: 1px solid var(--el-border-color-light);
  border-radius: 4px;
  box-shadow: var(--el-box-shadow-light);
}

.full-content {
  @extend .column;
  margin: 15px;
  height: calc(100vh - $heightFromTop);
  background-color: #fff;
  .f-c-search {
    margin-bottom: 10px;
    background: #fff;
    border-radius: 4px;
    .el-row {
      padding: 6px 12px !important;
    }
  }
  &>.table-box {
    @extend .column;
    flex: 1;
    overflow: hidden;
    justify-content: space-between;
    border-radius: 4px;
    padding: 10px;
    .top-content {
      @extend .column;
      flex: 1;
      overflow: hidden;
    }
  }
}
.has-tags-view {
  .full-content {
    height: calc(100vh - $headerWithTags - 30px);
  }
}

.commnad-size-select {
  .active {
    background-color: var(--el-dropdown-menuItem-hover-fill);
    color: var(--el-dropdown-menuItem-hover-color);
  }
}
