/*
  ********** scss变量 **********
*/

$white: var(--white);
$primary: var(--primary);
$mainBg: var(--mainBg);
$rootBg: var(--rootBg);
$danger: var(--danger);
$textColor: var(--text-color-primary);
$info: var(--text-color-placeholder);
$menuBg: var(--menuBg);
$menuText: var(--menuText);
$menuActiveText: var(--menuActiveText);
$menuActiveBg: var(--menuActiveBg);
$menuHover: var(--menuHover);
$subMenuBg: var(--subMenuBg);
$subMenuActiveText: var(--subMenuActiveText);
$subMenuHover: var(--subMenuHover);
$menuExpandWidth: var(--menu-expand-width);
$menuFoldWidth: var(--menu-fold-width);
$headerWithTags: var(--header-with-tags-height);
$topBarHeight: var(--top-bar-height);
$heightFromTop: var(--height-from-top);
$transDuration: var(--transition-duration);